@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

@import "tailwindcss";

* {
  box-sizing: border-box;
}

.custom-container {
  @apply px-4 py-16 w-full flex-1;
}

.rounded-edges {
  @apply rounded-lg;
}

.card-body {
  padding: 8px !important;
}
